{erl_opts, [debug_info]}.

{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.12.0"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v3.1.0"}}},
    {hackney, {git, "https://github.com/benoitc/hackney.git", {tag, "1.20.1"}}}
]}.

{shell, [
    {config, "config/dev_sys.config"},
    {apps, [erlang_docker]}
]}.

{dist_node, [
    {name, 'erlang-docker-a@127.0.0.1'},
    {setcookie, '123456'}
]}.

{relx, [
    {include_src, false},
    {dev_mode, true},
    {release,
        {erlang_docker, "1.0.0"},
        [erlang_docker]
    }
]}.

{profiles, [
    {a, [
        {erl_opts, [debug_info]},
        {relx, [
            {dev_mode, false},
            {sys_config_src, "config/a_sys.config.src"},
            {vm_args_src, "config/a_vm.args.src"}
        ]}
    ]},
    {b, [
        {erl_opts, [debug_info]},
        {relx, [
            {dev_mode, false},
            {sys_config_src, "config/b_sys.config.src"},
            {vm_args_src, "config/b_vm.args.src"}
        ]}
    ]}
]}.
